header{
    background-color: #cc0000;
    color: white;
    font-size: 12px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.divider{
    font-size: 36px;
    font-weight: 700;
    line-height: 0;
}

.location{
    font-size: 14px;
    font-weight: 700;
}

.store-info{
    width: 136px;
    display: flex;
    flex-wrap: wrap;
}

.store-info p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
